$light: #fff;
$primary-color: #2bae66ff;
$secondary-color: #078282ff;
$base-color: #37393c;
$title-color: #2bae66ff;
$black: #222;
$gray: #eff0f3;
$secondary-bg: #f4f9fc;
$border-color: #fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$grad-color: linear-gradient(to bottom, #05a5f9, #10dab7);
